.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  color: RGBA(57, 82, 99, 1);
}
.cc-image {
  height: 30px;
}
.in-box {
  width: 100%;
  height: 3em;
  margin-top: 10px;
  padding-left: 10px;
  border: 2px solid lightgray;
  color: gray;
}
.in-box:focus {
  outline: none;
  border: 2px solid lightgreen;
  box-shadow: 0 0 5px lightgreen;
  padding-left: 10px;
}
.sec-in-box {
  height: 3em;
  width: 8em;
  margin-top: 0.7em;
  padding-left: 10px;
  border: 2px solid lightgray;
}
.sec-in-box:focus {
  outline: none;
  border: 2px solid lightgreen;
  box-shadow: 0 0 5px lightgreen;
}
.green-button {
  height: 4em;
  font-size: 12px;
  background-color: lightgreen;
  color: white;
  border: none;
  outline: none;
}
