.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  color: RGBA(57, 82, 99, 1);
}
.cc-image {
  height: 30px;
}
.in-box {
  width: 100%;
  height: 2em;
  margin-top: 10px;
}
.sec-in-box {
  height: 3em;
  width: 7em;
  margin-top: 0.7em;
  padding-left: 5px;
}
