* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 500px) {
  .main-body {
    background: red;
  }
  .main-body-upper {
    display: flex;
    flex-direction: column;
  }
  .accordion {
    flex-direction: column;
  }
  .copywrite {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1034px) {
  .main-body {
    background: yellowgreen;
  }
  .media-box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .copywrite {
    margin-top: 20px;
  }
  .accordion section {
    margin-top: 10px;
  }
  .accordion {
    justify-content: stretch;
  }
  .link-box-main {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1035px) {
  .main-body {
    background: mistyrose;
  }
}
.main-body {
  min-height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}
.accordion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70em;
}
li {
  list-style-type: none;
}
.accordion section {
  margin-left: 10px;
  margin-right: 10px;
}
.media-links {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.media-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copywrite {
  min-width: 5em;
  color: lightgray;
  font-weight: lighter;
}

.accordion section ul li {
  margin-bottom: 10px;
  transition: 0.2s;
  color: RGBA(74, 78, 86, 1);
}
.accordion section ul li:hover {
  color: palevioletred;
}
.accordion section h3 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 15px;
  color: gray;
}
.link-box {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.link-box-main {
  display: flex;
  justify-content: space-around;
  min-width: 75%;
}
.link-box a,
.media-links a {
  text-decoration: none;
  color: RGBA(74, 78, 86, 1);
}
.media-links a {
  font-weight: 600;
}
.main-body-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.invision-image {
  min-width: 8em;
}
