* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 500px) {
  .main-body {
    background: red;
  }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .main-body {
    background: blue;
  }
}
@media only screen and (min-width: 961px) {
  .main-body {
    background: mistyrose;
  }
}

.main-body {
  min-height: 30em;
  display: flex;
}
.links {
  display: flex;
  justify-content: space-around;
  max-width: 40em;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
}
